* {
    margin: 0;
    padding: 0;
}

body {
	font-family: sans-serif;
    color: #333;
}

#header {
    background-color: white;
    padding: 10px;
}

.kv-ntd {
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.kv-ntd a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.kv-ntd select {
    font-size: 17px;
}
.kv-ntd a:hover{
    color: green;
}
.kv-ntd select:hover{
    border: 2px solid green;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
}
.dn-dk {
    float: right;
    margin-top: -25px;
}
#dn{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
/*==Banner==*/

#timkiem {
    position: absolute;
    margin-left: 15%;
    margin-top: -320px;
    width: 70%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}
 #timkiem select {
    width: 20%;
    height: 20%;
    cursor:  pointer;
    margin-top: 70px;
}
#txtsearch {
    width: 35%;
    height: 20%;
    margin-left: 55px;
}
#btsearch {
    width: 100px;
    height: 20%;
    background-color: #33CC00;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#txtsearch, #timkiem select, #btsearch {
    border: none;
    border-radius: 2px;
}
#txtsearch:hover, #timkiem select:hover {
    border: solid 2px green;
}
#btsearch:hover {
    background-color: green;
}
/*==Noi dung==*/
.khungnoidung {
    background-color: #D3D3D3;
    position: relative;
    width: 100%;
    height: 100%;
}

/*==Nội dung==*/

.noidung {
    margin-left: 15%;
    width: 70%;
    height: 100%;
    position: relative;
    background-color: #D3D3D3;
}

/* ==Việc làm mới nhất== */

.khungviecmoinhat{
    position: relative;
    height: 900px;
    background-color: white;
}
.menuviecmoinhat ul li{
    display: inline-block;
    padding-top: 10px;
    padding-left: 70px;
    color: green;
}
.menuviecmoinhat ul li:first-child{
    width: 300px;
}
.viecmoinhat h2 {
    font-size: 40px;
    margin: 10px 0px;
    color: black;
    text-align: center;
}
.ndviecmoinhat li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 75px;
    font-size: 15px;
}
.ndviecmoinhat li:first-child {
    width: 300px;
}
.ndviecmoinhat a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
}
.ndviecmoinhat a:hover {
    color: green;
    text-decoration: underline;
}
/* ==Việc làm theo ngành nghề== */

.viectheonganh h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.ndvieclamnganh {
    height: 380px;
    background-color: white;
    color: black;
}
.ndvieclamnganh ul {
    display: inline-block;
}
#ul1{
    margin-left: 100px;
}
#ul2{
    margin-left:  200px;
}
.ndvieclamnganh ul li {
    padding-top: 15px;
    font-size: 17px;
}
.ndvieclamnganh ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.ndvieclamnganh ul li a:hover {
    color: green;
    text-decoration: underline;
}

/* ==Tuyển gấp== */

.khungtuyengap{
    position: relative;
    height: 900px;
    background-color: white;
}
.menutuyengap ul li{
    display: inline-block;
    padding-top: 10px;
    padding-left: 70px;
    color: green;
}
.menutuyengap ul li:first-child{
    width: 300px;
}
.tuyengap h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}
.ndtuyengap li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 75px;
    font-size: 15px;
}
.ndtuyengap li:first-child {
    width: 300px;
}
.ndtuyengap a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
}
.ndtuyengap a:hover {
    color: green;
    text-decoration: underline;
}

/*==Việc làm theo tỉnh thành==*/

.viectheotinh h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.ndviectheotinh {
    height: 450px;
    background-color: white;
    color: black;
}
.ndviectheotinh ul {
    display: inline-block;
    padding: 70px;
    margin-left: 50px;
    margin-top: -50px;
}
/* #mienbac {
    margin-left: 50px;
}
#mientrung {
    margin-left:  200px;
}
#miennam {
    margin-left: 00px;
} */
.ndviectheotinh ul li {
    padding-top: 15px;
    font-size: 17px;
}
.ndviectheotinh ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.ndviectheotinh ul li a:hover {
    color: green;
    text-decoration: underline;
}

/*==footer==*/

.footer {
    width: 70%;
    height: 150px;
    background-color: #D3D3D3;
    margin-left: 15%;
}
.footer h2 {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.footer li {
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
}
.footer h4 {
    text-align: center;
    margin-bottom: 10px;
}
#xoabai {
    padding: 5px;
    cursor: pointer;
    background-color: rgba(173, 20, 20, 0.733);
    border: none;
}
#xoabai:hover {
    background-color: red;
}