* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
#header {
    background-color: white;
    padding: 10px;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
    margin-top: -30px;
}
.dn-dk {
    float: right;
    margin-top: -35px;
}
#dn{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
#dangtuyen {
    color: white;
    background-color: green;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
.dangtuyen {
    margin-top: 10px;

}

.khungviecquantam{
    position: relative;
    height: 100%;
    background-color: gainsboro ;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    padding: 10px;
}
.menuviecquantam ul li{
    display: inline-block;
    padding-top: 10px;
    padding-left: 70px;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.menuviecquantam ul li:first-child{
    width: 300px;
}
.ndviecquantam li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 70px;
    font-size: 15px;
}
.ndviecquantam li:first-child {
    width: 300px;
}
.ndviecquantam a {
    color: #333;
    text-decoration: none;
    font-size: 17px;
}
.ndviecquantam a:hover {
    color: green;
    text-decoration: underline;
}
#xoabai {
    padding: 5px;
    cursor: pointer;
    background-color: rgba(173, 20, 20, 0.733);
    border: none;
}
#xoabai:hover {
    background-color: red;
}