* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: gainsboro;
}
#header {
    background-color: white;
    padding: 10px;
}

.kv-ntd {
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.kv-ntd a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.kv-ntd select {
    font-size: 17px;
}
.kv-ntd a:hover{
    color: green;
}
.kv-ntd select:hover{
    border: 2px solid green;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
}
.dn-dk {
    float: right;
    margin-top: -30px;
}
#dn{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
/*==Banner==*/

#timkiem {
    position: absolute;
    margin-left: 15%;
    margin-top: -320px;
    width: 70%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}
 #timkiem select {
    width: 20%;
    height: 20%;
    cursor:  pointer;
    margin-top: 70px;
}
#txtsearch {
    width: 35%;
    height: 20%;
    margin-left: 55px;
}
#btsearch {
    width: 100px;
    height: 20%;
    background-color: #33CC00;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#txtsearch, #timkiem select, #btsearch {
    border: none;
    border-radius: 2px;
}
#txtsearch:hover, #timkiem select:hover {
    border: solid 2px green;
}
#btsearch:hover {
    background-color: green;
}

.main {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: 20px;
}
.tieude, .noidungchinh {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
.noidungchinh div {
    margin-top: 20px;
}
.nd1 {
    margin-left: 20px;
}
.nd1 td {
    font-weight: bold;
    width: 500px;
}
.nd1 td span {
    font-weight: normal;
}
.nd2 {
    margin-left: 20px;
}


/*==footer==*/

.footer {
    width: 100%;
    background-color: #D3D3D3;
    text-align: center;
}
.footer h2 {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.footer li {
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
}
.footer h4 {
    text-align: center;
    margin-bottom: 10px;
}
