* {
    margin: 0;
    padding: 0;
}

body {
	font-family: sans-serif;
    color: #333;
    overflow-x: hidden;
}

#header {
    background-color: white;
    padding: 10px;
}

.kv-ntd {
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.kv-ntd a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.kv-ntd select {
    font-size: 17px;
}
.kv-ntd a:hover{
    color: green;
}
.kv-ntd select:hover{
    border: 2px solid green;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
}
.dn-dk {
    float: right;
    margin-top: -30px;
}
#dx{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
    
}
.dn-dk p{
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.dn-dk #dx:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}

#nguoidung{
    font-weight: bold;
    font-size: 18px;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

/*==Banner==*/
.banner{
    height: 420px;
}
#timkiem {
    position: absolute;
    margin-left: 15%;
    margin-top: -320px;
    width: 70%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);

}

#btsearch {
    width: 150px;
    height: 20%;
    position: absolute;
    background-color: #33CC00;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-left: 40%;
    margin-top: 70px;
    text-align: center;
    padding: 10px;
}
#btsearch:hover {
    background-color: green;
}
/*==Noi dung==*/
.main {
    background-color: #D3D3D3;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

/*==Nội dung==*/

.noidung {
    margin-left: 15%;
    width: 70%;
    height: 100%;
    position: relative;
    background-color: #D3D3D3;
}

/* ==Việc làm mới nhất== */

.khungviecquantam{
    position: relative;
    height: 850px;
    background-color: white;
    width: 70%;
    margin-left: 15%;
}

.viecmoinhat h2 {
    font-size: 40px;
    margin: 10px 0px;
    color: black;
    text-align: center;
}
.table, td{
    border-collapse:collapse;
    border-bottom:1px solid #ccc;
}
.table th {
    color: green;
    font-weight: bold;
    font-size: 17px;
    width: 150px;
    text-align: left;
}
.col1 {
    width: 500px;
    padding: 15px;
}
.table {
    margin-left: 50px;
}
.table a {
    color: black;
    text-decoration: none;
}
.table a:hover{
    color: green;
    text-decoration: underline;
}
/* lấy id */


/*==footer==*/

.footer {
    width: 100%;
    background-color: #D3D3D3;
    text-align: center;
}
.footer h2 {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.footer li {
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
}
.footer h4 {
    text-align: center;
    margin-bottom: 10px;
}
