* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
#header {
    background-color: white;
    padding: 10px;
}

.kv-ntd {
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.kv-ntd a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.kv-ntd select {
    font-size: 17px;
}
.kv-ntd a:hover{
    color: green;
}
.kv-ntd select:hover{
    border: 2px solid green;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
}
.dn-dk {
    float: right;
    margin-top: -25px;
}
#dn{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
