* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
#header {
    background-color: white;
    padding: 10px;
}

.kv-ntd {
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.kv-ntd a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.kv-ntd select {
    font-size: 17px;
    width: 100px;
}
.kv-ntd a:hover{
    color: green;
}
.kv-ntd select:hover{
    border: 2px solid green;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
}
.dn-dk {
    float: right;
    margin-top: -30px;
}
#baidang {
    margin-right: 50px;
}
#dn, #baidang{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover, #baidang:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
#baidang {
    color: white;
    background-color: green;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
.baidang {
    margin-top: 10px;

}

/*==main==*/
.main {
    width: 60%;
    height: 100%;
    background-color: gainsboro;
    padding: 20px;
    position: relative;
    margin-left: 20%;
}
.main .row{
    display: flex;
}
.main .row label {
    width: 200px;
}
.main div {
    padding: 10px;
}
select {
    width: 400px;
    height: 30px;
}
textarea {
    width: 70%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}
input {
    height: 30px;
    width: 400px;
}

#submit {
    padding: 5px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-left: 27%;
    margin-top: 20px;
    
}
#submit:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}
select,textarea,input {
    margin-left: 10px;
}

/*==footer==*/

.footer {
    width: 100%;
    background-color: #D3D3D3;
    text-align: center;
}
.footer h2 {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.footer li {
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
}
.footer h4 {
    text-align: center;
    margin-bottom: 10px;
}
