* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
#header {
    background-color: white;
    padding: 10px;
}

.logo-center {
    margin-left: 40%;
    font-size: 30px;
    margin-top: -30px;
}
.dn-dk {
    float: right;
    margin-top: -35px;
}
#dn{
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: green;
    color: white;
}
.dn-dk a{
    padding: 5px;
    color: #333;
    text-decoration: none;
}
.dn-dk #dx {
    margin-left: 15px;

}
.dn-dk #dn:hover {
    color: green;
    background-color: white;
    border: 1px solid green;
}
.dn-dk #dk:hover {
    text-decoration: underline;
}
.dn-dk #dx:hover {
    color: green;
}
#baidang {
    color: white;
    background-color: green;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
.baidang {
    margin-top: 10px;

}

/*==main==*/
.main {
    width: 60%;
    height: 100%;
    background-color: gainsboro;
    padding: 20px;
    position: relative;
    margin-left: 20%;
}
.main div {
    padding: 10px;
}
select {
    width: 400px;
    height: 30px;
}
textarea {
    width: 70%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}
input {
    height: 30px;
    width: 400px;
}

#submit {
    padding: 5px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-left: 25%;
    
}
#submit:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}
select,textarea,input {
    margin-left: 10px;
}